@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'Riffic';
    src: url('/fonts/RifficFree-Bold.ttf') format('truetype');
}

body {
    font-family: 'Riffic', sans-serif;
}

.iti { width: 100%; }
